button, input {
    all: unset;
}

.prompt {
    padding-top: 26px;
    text-align: center;
}

form {
    border: 1px solid black;
    width: 380px;
    padding: 32px 24px;
    margin: 0 auto;
}

form section {
    text-align: left;
}

input {
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    width: calc(100% - 24px);
    margin-bottom: 16px;
}

button {
    border-radius: 16px;
    padding: 8px 16px;
    background-color: rgb(141, 58, 248);
    color: white;
    margin-top: 8px;
}

label {
    padding-left: 4px;
}

#logout {
    position: absolute;
    top: 24px;
    left: calc(50% + 180px);  
}

#logout  button {
    background-color: white;
    border: 1px solid black;
    color: black;
}