button, input {
    all: unset;
}

.prompt {
    padding-top: 32px;
    text-align: center;
}

form {
    border: 1px solid black;
    width: 260px;
    padding: 32px 24px;
    margin: 0 auto;
}

form section {
    text-align: left;
}

input {
    padding: 4px 8px;
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    width: calc(100% - 24px);
    margin-bottom: 16px;
}

button {
    border-radius: 16px;
    padding: 8px 16px;
    background-color: rgb(141, 58, 248);
    color: white;
    margin-top: 16px;
}

.messages {
    text-align: center;
    color: red;
}

label {
    padding-left: 4px;
}
